.App {
    background: #c6d5d7;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: end;
}

.compA {
    background: #eddc6e;

    height: 200px;
    width: 200px;
}
.compB {
    background: #ce5ac3;

    height: 200px;
    width: 200px;
}
